<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:theme="@style/MasonryTheme">
        <activity
            android:name=".Disbursement.Fragments.Fragment_Turnover_Funds"
            android:exported="false" />
    </application>

</manifest>